<!doctype html>
<html lang="en">
  <head>
    <title>Cube-Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />

    <link rel="stylesheet" href="/css/header.css">
    <style media="screen">
      .room {
        width: 200px;
        height: 200px;
        background-color: #ff5353;
        margin: 10px;
        display: inline-block;
      }

      .room-name {
        color: white;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0px;
        line-height: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      #add .room {
        margin-left: 15px;
        background-color: rgb(210, 210, 210);
      }

      #add .room .room-name {
        font-size: 2.4em;
        font-family: Amaranth;
      }

      #add .room:hover {
        background-color: rgb(190, 190, 190);
      }

      .room:hover {
        background-color: #f74040;
      }

      nav.navbar {
        height: 50px;
        background-color: #ed3c3c;
        font-size: 1.4em;
      }

      #navbar .navbar-nav a {
        padding: 0px 20px;
      }

      #heart{
        margin-left: -5px;
      }
    </style>
  </head>

  <body>
    <header class="container-fluid text-center">
      <a href="/"><h1 id="heading">Cube-Room</h1></a>
      <a href="/img/logo_white.png"><img id="logo" src="/img/logo_white.png" alt="Cube Room Logo"></a>
      <div id="profile-dropdown">
        <img src="<%= user.thumbnail %>" id="thumbnail" class="rounded" data-toggle="dropdown"></img>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/auth/logout">Log Out</a>
          <div class="dropdown-divider"></div>
          <p class="dropdown-item disabled">
            <%= user.username %>
          </p>
          <p class="dropdown-header">
            <%= user.provider %>
              <% if(user.WCAID){ %>
                -
                <%= user.WCAID %>
                  <% } %>
          </p>
        </div>
      </div>
    </header>
    <!--  this is just the header -->

    <nav class="navbar navbar-expand navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mx-auto justify-content-center">
          <a class="nav-item nav-link active" href="/">Dashboard <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/timer">Timer</a>
          <a class="nav-item nav-link" href="/donate">Donate <span id="heart">&hearts;</span></a>
        </div>
      </div>
    </nav>

    <div id="rooms" class="container-fluid">
      <% rooms.forEach(room => { %>
        <a href="/room/<%= room.id %>">
          <div class="room">
            <h3 class="room-name"><%= room.name %></h3>
          </div>
        </a>
        <% }) %>
          <a href="/new" id="add">
            <div class="room">
              <h3 class="room-name">New Room</h3>
            </div>
          </a>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <script type="text/javascript">
      var socket = io.connect()

      socket.emit('online', <%- JSON.stringify(user.id) %>)
      window.onbeforeunload = () => {
        socket.emit('offline', <%- JSON.stringify(user.id) %>)
        return null;
      }
    </script>
  </body>
</html>
